html{
    scroll-behavior: smooth;
}
body,div,p,h1,h2,h3,h4,h5,h6,hr,li,a,ul{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 236, 236);
    /* line-height: 1.3; */
}
h1,h2,h3,h4,h5,h6{
    /* font-family: ; */
    line-height: 1.2;
    
}
h6{
    font-size: 0.9em;
    color: black;
    
}
span{
    font-size: .6rem;
}

.mid_div{
    background-color: #fff;
}
.card-title{
    margin-bottom: 0;
}
.left_card{
    font-size: .69rem;
}
/* navbar search-bar */
.search-bar input[type="search"]{
    border: none;
    background: rgba(0, 0,0 , 0.3);
    width: 15.62em;
}
.search-btn{
    border: none;
    background: rgba(0, 0,0 , 0.3);
    color: rgb(160, 158, 158);
    
}

/* image overlapping */
.image-1{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    border: solid rgb(253, 250, 250) 8px;
    left: 18%;
    right: 30%;
    top: 50%;
    bottom: 20%;
}
.image-2{
    position: absolute;
    left: 46%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid rgb(253, 250, 250) 8px;
     z-index: 2;
}
/*  */
.BTN .btn{
    padding: 0.2em;
    color: #0d6efd;
    background-color: #c9ddfc;
    border-radius: none;
    font-size: 10px;
}
/* banner */
.banner-section{
     background-color: #fff;
}
.banner{
    background-image: url("../img/company-profile.jpg");
    background-size: cover;
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner-section .btn1{
    background-color: #c9ddfc;
    border: none;
    color: #0d6efd;
}
.banner-section .btn2{
    color: #fff;
    background: linear-gradient(to bottom left, #aaf1f1 1%, #3399ff 94%);
    border-radius: 5px;
}
/*  */
.left_last_item h5{
             color: goldenrod;
            
}
.left_last_item .btn3{
    color: goldenrod;
    border: goldenrod solid 2px;
}
.left_last_item .btn3:hover{
    color: red;
    border: red solid 2px;
}
/* image part */
.image-wraper{
     position: relative;
     font-size: .75rem;
     padding-top: 15px;
     padding-bottom: 25px;
}
.image-wraper .img1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    border: #fff solid 2px;
}
.image-wraper .img2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    border: #fff solid 2px;
}
.image-wraper .img3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    border: #fff solid 2px;
}
.image-wraper a{
    position: absolute;
    left: 60px;
}
